<div class="ui grid center aligned">
    <!-- Padding -->
    <div class="one wide column"></div>

    <div class="fourteen wide column">
      <img src="resources/static/pics/logo.png" class="logo">
      <br>
      <div class="ui big input login">
        <input type="text" placeholder="username">
      </div>
      <br>
      <div class="ui big input login">
        <input type="password" placeholder="password">
      </div>
      <br><br>
      <button class="ui big yellow button" style="width:170px;">
        Login
        <i class="chevron circle right icon box"></i>
      </button>
      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      <div class="ui checkbox fixed">
        <label>Remember Me</label>
        <input type="checkbox" name="remember-me">
      </div>
      <br><br>
      <button class="ui big green button login">
        Start New Account
        &nbsp;&nbsp;&nbsp;
        <i class="add circle icon"></i>
      </button>

      <br><br><br>
      <div class="ui grid center aligned" style="color:gray;">
        <h4>OR SIGN IN WITH</h4>
      </div>
      <br><br>
      <button class="ui google plus button">
        <i class="google plus icon"></i>
        Google+
      </button>
      <button class="ui blue button">
        <i class="copyright icon"></i>
        Clever
      </button>
      <br><br>
      <img src="resources/static/pics/appleStore.png" class="ui image small centered">

      <div class="center aligned" style="margin-top: 100px;">
        <h4>MAKE MATH SOCIAL</h4>
        <p>2.0.12</p>
      </div>
    </div>

    <!-- Padding -->
    <div class="one wide column"></div>
</div>
